@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%
    }
    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
    background-image: url(../images/billboard.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 20px solid #CE3229;
    height: 30em;
}

a { 
    text-decoration: none;
}

.sign-up {
    width: 5em;
    background: #CE3229;
    display: block;
    font-size: 1.25em;
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 1.5em 0 .5em 0;
}    

.logo {
    display: block;  
}    

.tagline {
    margin: 2em 0;
    color: #1a4464;
    text-align: center;
    padding: .25em 5%;
}

.intro {
    text-align: center;
}

.icons {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.tour-heading {
    text-align: center;
    color: #1a4464; 
}

figcaption {
    text-align: center;
}

.img-flex {
    display: block;
    width: 100%;
}

footer {
    background: #CE3229;
}    

.social-media {
    width: 20%;   
}    

@media only screen and (min-width: 25em) {
    .icons {
        width: 15%;
    }
    
}

@media only screen and (min-width: 38em) {
    .sign-up { 
        margin: 0 0 0 2em;
        padding: 3em 0 .5em 0;
    }    
    
}

@media only screen and (min-width: 60em) {
    
    
}

@media only screen and (min-width: 90em) {
 
}