@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
    
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%
    }
    
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
    font-weight: bold;
}

.skip-links a:focus {
    top: 0;
}

/*
.banner {
    overflow: hidden;
    height: 30em;
}
*/

.billboardimg {
  width: 100%;
}

a { 
    text-decoration: none;
}

/*
.caption {
    margin: 1em;
    border: 2px solid #fff;
    max-width: 30em;
    text-align: center;
}   
*/

.tagline {
    margin: auto;
    color: #fff;
    text-align: center;
    padding: .25em 5%;
}

.subhead {
    display: none;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

.button {
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 2px solid #fff;
    background: #343b4d;
    color: #fff;
    box-shadow: 0 0 3px gray;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 1em;
    line-height: 40px;
    text-align: center;
}

.button:hover {
    background-color: #a5b2c2;   
}

.intro {
    text-align: center;
    max-width: 45em;
}

.logo {
  width: 30%;
  margin: 5em auto 1em;
}

.intro p {
  margin-bottom: 5em;
}

.features {
  margin-bottom: 2em;
}

.hfeatures {
  text-align: center;
  color: #343b4d;
  margin: 1em 0;
}

.icons {
    width: 20%;
    display: block;
    margin: 0 auto;
}

.tour-heading {
    text-align: center;
    color: #343b4d; 
}

figcaption {
  text-align: center;
  max-width: 20em;
  margin: 0 auto 1em;
}

footer {
  background: #343b4d;
  text-align: center;
}    

.footer-nav {
  color: white;
  border: 2px solid #fff;
  width: 6em;
  display: inline-block;
  margin: 1em 0;
  padding: .25em;
}

.footer-nav:hover {
  background-color: #a5b2c2;
}

.social-media {
    width: 3em;
  margin: .5em .25em;
}

.masthead {
    background-color: #343b4d;
  padding: 1em 0;
}

.logo2 {
  width: 10em;
  margin: 1em 1em -1em;
}

.nav {
  text-align: center;
  color: white;
  border: 2px solid #fff;
  width: 6em;
  display: inline-block;
  margin: 1em 0;
  padding: .25em;
}

.nav:hover {
  background-color: #a5b2c2;
}

.titles {
    text-align: center;
  color: #343b4d;
  margin: .5em 0 0;
}

.pricing {
    border: 3px solid #343b4d; 
    text-align: center;  
    padding-bottom: 1em;
    max-width: 20em;
  height: 22.5em;
  transition: all .2s ease-in-out;
}  

.pricing:hover {
  transform: scale(1.1); 
}

.pricingtitles {
    margin: 0;
    color: white;
  background-color: #343b4d;
}  

.pricingfeatures {
    padding: 0;
    list-style: none;
    text-align: center;
  margin-top: .5em;
}

.pricing figcaption {
  text-align: center;
  background-color: #343b4d;
  color: white;
  padding-bottom: .5em;
  margin: 0;
}

.buttonp1 {
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 2px solid #fff;
    background: #343b4d;
    color: #fff;
    box-shadow: 0 0 3px gray;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 7.5em;
    line-height: 40px;
    text-align: center;
}

.buttonp1:hover {
    background-color: #a5b2c2;   
}

.buttonp2 {
    border-radius: 25px;
    width: 150px;
    height: 45px;
    border: 2px solid #fff;
    background: #343b4d;
    color: #fff;
    box-shadow: 0 0 3px gray;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 4.5em;
    line-height: 40px;
    text-align: center;
}

.buttonp2:hover {
    background-color: #a5b2c2;   
}

p strong {
    color: #a5b2c2; 
    max-width: 20em;
}    
/*
.nav ul {
    padding: .25em;
    margin: 0;
}

.nav li {
    display: inline-block;
  padding: .25em;
  border: 2px solid #fff;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}    

.nav a:hover,
.nav a:focus,
.nav a:active {
    background-color: #434444;
    color: #fff;
}
*/




form {
    margin: 0 auto;
    max-width: 40em;
}

form div {
    margin: 0 0 1.5em 0;   
}    

label {
    display: block;
    margin-bottom: 0.03em;
    vertical-align: middle;
}

input {
    margin: 0;
    padding: 0.4em;
    font-size: 1rem;
    width: 100%;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.thankyou {
    text-align: center;
    color: #ED7F34;
}    

.thankyou2 {
    text-align: center;
}
    



/*
@media only screen and (min-width: 25em) {
    .pricing {
        margin: 0 auto;
    }    

}    
*/
    
@media only screen and (min-width: 32em) {
/*
    .caption {
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
*/

}    

@media only screen and (min-width: 38em) {    
/*
    .caption {
        margin-top: 12em;
    }   
*/
    
/*
    .logomain {
        text-align: left;    
        margin-left: 2em;
    }
*/
    
/*
    .subhead {
        display: block;
    }
*/
    
    .intro {
        margin: auto;
    }
    
}

@media only screen and (min-width: 50em) {
/*
    .questions {
        padding-right: 2em;
    }
*/
    
}    

@media only screen and (min-width: 60em) {
/*
    .caption {
        margin-top: 22em;
    }   
*/
}